<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.olegpoly.TimeManager" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Core.ApplicationData"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ManageActionsActivity"
            android:label="@string/title_activity_manage_activities" >
        </activity>
        <activity
            android:name=".Activity.Chart"
            android:label="@string/title_activity_chart"
            android:screenOrientation="portrait" >
        </activity>
        <!--
        <activity
            android:name=".Fragments.ListViewCheckboxesFragment"
            android:label="ListView title" >
        </activity>
        -->
        <activity android:name=".Activity.PieChartActivity" />
        <activity
            android:name=".Activity.ChartsActivity"
            android:label="@string/title_activity_charts" >
        </activity>
        <activity
            android:name=".Activity.DemoActivity"
            android:label="@string/title_activity_demo" >
        </activity>
        <activity
            android:name=".Activity.BarChartActivityMultiDataset"
            android:label="@string/title_activity_bar_chart_activity_multi_dataset" >
        </activity>
        <activity
            android:name=".Activity.ExportsActivity"
            android:label="@string/title_activity_exports" >
        </activity>
    </application>

</manifest>
